{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{ title }} | CUISC</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}" />
        <link rel="stylesheet" href="{% static 'css/generic.css' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">
                You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to
                improve your experience.
            </p>
        <![endif]-->
        <div class="flex" id="logoContainer">
            <img src="{% static 'img/logo.png' %}" />
        </div>
        <nav>
            <div class="flex mobile" id="navBar">
                <div>HOME</div>
                <div>ABOUT</div>
                <div>MEET THE COMMITTEE</div>
                <div>CONTACT US</div>
            </div>

            <div class="flex tablet pc" id="navBar">
                <div class="top">HOME</div>
                <div class="hide">WHAT WE DO</div>
                <div class="hide">MEET THE COMMITTEE</div>
                <div class="hide">CONTACT US</div>
            </div>
        </nav>
        <script src="" async defer></script>
    </body>
</html>
